body{
    margin: 0px;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar{
    background-color: lightblue;
    display: grid;
    grid-template-rows:1fr 5fr;
}

.links>div{
    padding-top: 20px;

}

.main {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.header{
    
}

.body{
    background-color: grey;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 20fr;
    padding: 20px;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-right: 20px;
}

.card{
    background-color: white;
    border-radius: 8px;
}

#project {
border-left: solid;
border-width: 10px;
border-color: orange;
}


.a{
    display: grid;
    grid-template-rows: 7fr 1fr 7fr;
}

#trending{
    padding-top: 20px;
}